// ------------------------------------
// Colors
// ------------------------------------
$palette: (
    colors: (
        red: #da0711,
        green: #3b9f79,
        blue: #65a7d7,
        orange: #e25923,
        black: #000,
        white: #fff,
        gray: #666
    ),
    darken: (
        1: 20%,
        2: 50%,
        3: 80%
    ),
    lighten: (
        1: 20%,
        2: 40%,
        3: 65%,
        4: 80%
    )
);

// ------------------------------------
// Spacing
// ------------------------------------

$spacings: (
    small: 5px,
    medium: 10px,
    large: 20px
);

// ------------------------------------
// Typography
// ------------------------------------

$fonts: (
    serif: (
        font: ('Roboto Slab', 'Georgia', serif),
        weights: (
            light: 200,
            regular: 300,
            bold: 700
        )
    ),
    sans: (
        font: ('Open Sans', 'Helvetica', sans-serif),
        weights: (
            light: 300,
            regular: 400,
            semibold: 600,
            bold: 700
        )
    )
);

// ------------------------------------
// Widths
// ------------------------------------
$max-width: 830px;
