body {
    // move this..
    color: color-variation(black, lighten, 1);
    font-weight: 200;
}

p {
    strong {
        @include font(sans, semibold);
    }
}

h2 {
    @include font(serif, regular);
    font-size: 24px;
    margin-bottom: 30px;
}

label {
    @include font(sans, semibold);
}
