%icon-arrow {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0"><title>arrow</title><polyline points="11.71 6.91 6.21 1.41 0.71 6.91" style="fill:none;stroke:%23d45634;stroke-miterlimit:10;stroke-width:2px"/></svg>');
    background-repeat: no-repeat;
    transform: rotateX(180deg);
    transition: transform .3s;
}
