// Set shaddow for buttons
.btn {
    border-color: color-variation(black, lighten, 4);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.125);
    background: color(white);
    white-space: normal;

    &:focus {
        &:active {
            transform: translate(0, 1px);
            box-shadow: 0 2px 2px rgba(0, 0, 0, 0.125);
        }
    }

    &.btn-xl {
        margin-bottom: 20px;
        padding: spacing(large);
        font-size: 20px;
    }

    &.btn {
        &.btn-profile {
            background: color(white);
            color: color(orange);
        }
    }
}

// Remove shaddow for input group buttons and set correct paddings
.input-group-btn {
    > .btn {
        box-shadow: none;
        padding: $padding-base-vertical + 3 $padding-base-horizontal;

        > .glyphicon {
            color: color-variation(grey, darken, 1);
        }
    }
}
