// Input fields
input.form-control {
    @include font(serif, light);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1) !important;

    &:focus, &:active {
        outline: 2px solid color(orange);
        outline-offset: -2px;
    }
}
