%input-focus {
  border-color: $brand-primary;
  outline: 2px solid color(orange);
  outline-offset: -2px;
}

%input-active {
  
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.btn,
.uneditable-input {
    &:active:focus, &:active, &:focus {
        @extend %input-focus;
    }
}

.btn {
  &:hover {
    @extend %input-focus;
  }
}
