.input-group {
    .btn {
        &:active, &:hover, &:focus {
            transform: none;
            box-shadow: none;
        }
    }

    &.input-group-extended {
        background: $input-bg;

        select, input {
            position: absolute;
            right: 0;
            left: 0;
            z-index: 100;
            background: transparent;
            appearance: none;

            &:focus {
                z-index: 150;
            }
        }

        .input-group-btn {
            z-index: 50;

            .btn {
                width: 45px;
                height: 45px;
                pointer-events: none;

                i {
                    width: 12px;
                    height: 25px;
                }
            }
        }

        .input-lg + .input-group-btn {
            .btn {
                width: 60px;
                height: 60px;

                i {
                    height: 45px;
                }
            }
        }
    }
}
