.input-group {
    .btn {
        &:active, &:hover, &:focus {
            transform: none;
            box-shadow: none;
        }
    }

    &.input-group-extended {
        background: $input-bg;

        select, input {
            position: absolute;
            right: 0;
            left: 0;
            z-index: 100;
            background: transparent;
            appearance: none;

            &:focus {
                z-index: 150;
            }
        }

        .input-group-btn {
            z-index: 50;

            .btn {
                pointer-events: none;
            }
        }
    }
}
