.input-group {
    .btn {
        &:active, &:hover, &:focus {
          transform: none;
          box-shadow: none;
        }
    }

    &.input-group-select {
        background: $input-bg;

        select {
            background: transparent;
            position: absolute;
            left: 0;
            right: 0;
            z-index: 100;

            appearance: none;
            -webkit-appearance: none;
        }

        .input-group-btn {
            z-index: 50;

            .select-arrow {
                background: transparent;
            }
        }
    }
}
