%active-state {
    outline: 2px solid color(orange);
    border-color: $brand-primary;
    outline-offset: -2px;
}

input {
    &[type='text'],
    &[type='password'],
    &[type='datetime'],
    &[type='datetime-local'],
    &[type='date'],
    &[type='month'],
    &[type='time'],
    &[type='week'],
    &[type='number'],
    &[type='email'],
    &[type='url'],
    &[type='search'],
    &[type='tel'],
    &[type='color'] {
        &, &:active, &:focus {
            &:focus {
                @extend %active-state;
            }
        }
    }
}

textarea,
.btn,
.uneditable-input {
    &, &:active, &:focus {
        &:focus {
            @extend %active-state;
        }
    }
}

.btn {
    &:hover {
        @extend %active-state;
    }
}
