.menu {
    @include font(sans, light);
    border-bottom: 1px solid color-variation(black, lighten, 4);
    padding: spacing(medium);

    .menu-container {
        @include max-width($screen-lg);
        height: 50px;
        z-index: 0;

        .menu-logo {
            z-index: 1000;

            @media (max-width: $screen-sm - 1) {
                float: left;

                svg {
                    width: 60px;
                }
            }
        }

        .back, nav {
            line-height: 50px;

            a {
                color: color-variation(grey, darken, 2);
            }
        }

        .back a {
            @extend .icon-left;

            &:before {
                font-size: 14px;
                margin-right: 15px;
                vertical-align: middle;
            }

            &:hover, &:focus {
                text-decoration: none;

                span {
                    text-decoration: underline;
                }
            }
        }

        nav {
            a {
                &:before {
                    display: inline-block;
                    margin: 0 10px -8px 5px;
                    border-left: 1px solid color-variation(black, lighten, 4);
                    height: 28px;
                    content: '';
                }

                &:first-of-type {
                    &:before {
                        display: none;
                    }
                }
            }
        }
    }
}
