// Centered modifier for tabs/pills
.nav-tabs, .nav-pills {
    margin-bottom: 35px;

    // Add border around all tabs
    > li > a {
        border: 1px solid $nav-tabs-border-color;
        color: $gray;
    }

    &.nav-centered {
        text-align: center;

        > li {
            display: inline-block;
            float: none;
        }
    }
}
