.page-header {
    @include font(serif, regular);
    text-align: center;
    border-color: color-variation(white, darken, 1);
    color: color(orange);

    margin: 25px 0 30px;
    padding-bottom: 25px;

    @media (max-width: $screen-sm - 1) {
        font-size: 35px;
    }
}
