.page-header {
    @include font(serif, regular);
    margin: 25px 0 30px;
    border-color: color-variation(white, darken, 1);
    padding-bottom: 25px;
    text-align: center;
    color: color(orange);


    @media (max-width: $screen-sm - 1) {
        font-size: 35px;
    }
}
