// Remove shaddow from panel elements
.panel {
    margin-bottom: 0;
    box-shadow: none;

    &:last-of-type {
        border-bottom: 1px solid color-variation(black, lighten, 4);
    }

    .header {
        border-top: 1px solid color-variation(black, lighten, 4);
        padding-left: $panel-body-padding;

        &:hover {
            color: color(orange);
            cursor: pointer;
        }

        h2, h3 {
            @extend .icon-arrow;

            margin: 15px 0;
            font-size: 18px;
            position: relative;

            &:before {
                transition: transform .3s;
                color: color(orange);
                position: absolute;
                top: 6px;
                right: 15px;
                height: 7px;
                font-size: 13px;
                font-weight: bold;
            }
        }
    }

    &.panel-open {
        .header {
            h2, h3 {
                margin-bottom: 25px;
                color: color(orange);

                &:before {
                    transform: rotateX(180deg);
                }
            }
        }
    }

    .content {
        margin-top: 15px;
        padding-left: $panel-body-padding;
    }
}
