// Remove shaddow from panel elements
.panel {
    margin-bottom: 0;
    box-shadow: none;

    &:last-of-type {
        border-bottom: 1px solid color-variation(black, lighten, 4);
    }

    .header {
        @extend .icon-arrow;
        position: relative;
        border-top: 1px solid color-variation(black, lighten, 4);
        padding-left: $panel-body-padding;

        &:before {
            transition: transform .3s;
            color: color(orange);
            position: absolute;
            top: 6px;
            right: 15px;
            height: 7px;
            font-size: 13px;
            font-weight: bold;
        }

        h2 {
            margin: 15px 0;
            font-size: 18px;
        }
    }

    &.panel-open {
        .header {
            &:before {
                transform: rotateX(180deg);
            }

            h2 {
                margin-bottom: 25px;
                color: color(orange);
            }
        }
    }

    .content {
        margin-top: 15px;
        padding-left: $panel-body-padding;
    }
}
