i {
    display: inline-block;
    background: no-repeat center center;
    background-size: contain;
    width: 10px;
    height: 5px;

    &.home {
        @extend %icon-home;
    }

    &.arrow-down {
        @extend %icon-arrow-down;
    }

    &.flame {
        @extend %icon-flame;
    }

    &.download {
        @extend %icon-download;
    }
}
