// Responsive tables
@media (max-width: $screen-sm - 1) {
    .table-responsive {
        border: 0;
        width: 100%;

        thead { display: none; }

        tbody, tr, th, td { display: block; }

        td {
            position: relative;

            &:before {
                @include font(sans, semibold);
                position: absolute;
                left: 10px;
                padding-right: 10px;
                width: 45%;
                white-space: nowrap;
                font-weight: bold;
                content: 'No label set';
            }
        }

        // Needed to be specific enough to override the bootstrap table styling :/
        tbody > tr > td {
            border: 0;
            padding-left: 50%;
        }
    }
}
