.table {
    border-bottom: 1px solid $table-border-color;
    border-collapse: initial;

    > tbody > tr > th,
    > tbody > tr > td,
    > tfoot > tr > th,
    > tfoot > tr > td {
        border-width: 0;
        padding-left: 4px;
    }

    > thead > tr > th,
    > thead > tr > td,
    > tbody > tr > th,
    > tbody > tr > td,
    > tfoot > tr > th,
    > tfoot > tr > td {
        border-width: 1px;
    }

    th {
        @include font(sans, semibold);
    }

    &.table-bordered {
        border: 0;

        thead > tr > th {
            border: 0;
        }
    }
}
